.footer {
	width: 100%;
	height: 150px;
	background-color: #121619;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 10px;
}

.socialMedia svg {
	color: white;
	margin: 20px;
	font-size: 60px;
	cursor: pointer;
}

.footer p {
	color: white;
	margin-top: 0;
}
