.navbar {
	width: 100%;
	height: 100px;
	background-color: #121619;
	display: flex;
	flex-direction: row;
}

.navbar .leftside {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 150px;
}

.navbar .leftside img {
	width: 70px;
}

.navbar .rightside {
	flex: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar a {
	color: white;
	text-decoration: none;
	margin: 20px;
}

.navbar .rightside button {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
}

.navbar .rightside svg {
	font-size: 40px;
}

.navbar #open {
	padding-left: 0px;
}
.navbar #open img {
	display: none;
}

.navbar #close img {
	display: inherit;
}

.navbar #open .hiddenLinks {
	display: inherit;
	margin-left: 30px;
}

.navbar #close .hiddenLinks {
	display: none;
}

.navbar #open a {
	width: 70px;
	margin: 5px;
}
@media only screen and (max-width: 900px) {
	.navbar .rightside a {
		width: 70px;
	}
	.navbar .leftside {
		padding-left: 50px;
	}
}

@media only screen and (max-width: 600px) {
	.navbar .rightside a {
		display: none;
	}

	.navbar .rightside {
		justify-content: flex-end;
		padding-right: 50px;
	}

	.navbar .rightside button {
		display: inherit;
	}
}

@media only screen and (min-width: 600px) {
	.navbar .rightside button {
		display: none;
	}

	.hiddenLinks {
		display: none;
	}
}
