.not-found {
	height: 65vh;
	opacity: 0.5;
	padding: 1rem;
}

.not-found h1 {
	margin-left: 2rem;
}

.not-found p {
	margin-left: 2rem;
	font-size: 1.5rem;
}

.not-found button {
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	justify-content: center;
	background-color: #121619;
	height: 70px;
	width: 250px;
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	margin-left: 2rem;
}
